# Data preprocessing

In [1]:
from matplotlib import pyplot as plt
import seaborn as sns
import pandas as pd
import pylab as pl
import numpy as np
from scipy import stats as stats

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None) 

pd.set_option('display.float_format', lambda x: '%.2f' % x)

In [2]:
data = pd.read_csv('train.csv')
data.head()

,state,account_length,area_code,international_plan,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,total_eve_minutes,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,number_customer_service_calls,churn
0,OH,107,area_code_415,no,yes,26,161.60,123,27.47,195.50,103,16.62,254.40,103,11.45,13.70,3,3.70,1,no
1,NJ,137,area_code_415,no,no,0,243.40,114,41.38,121.20,110,10.30,162.60,104,7.32,12.20,5,3.29,0,no
2,OH,84,area_code_408,yes,no,0,299.40,71,50.90,61.90,88,5.26,196.90,89,8.86,6.60,7,1.78,2,no
3,OK,75,area_code_415,yes,no,0,166.70,113,28.34,148.30,122,12.61,186.90,121,8.41,10.10,3,2.73,3,no
4,MA,121,area_code_510,no,yes,24,218.20,88,37.09,348.50,108,29.62,212.60,118,9.57,7.50,7,2.03,3,no

Let's eliminate some of the variables that we find that are eequivalent in the last notebook.

In [3]:
data.drop(['total_day_charge', 'total_eve_charge', 'total_night_charge', 'total_intl_charge'], axis=1, inplace=True)
data.head()

,state,account_length,area_code,international_plan,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_eve_minutes,total_eve_calls,total_night_minutes,total_night_calls,total_intl_minutes,total_intl_calls,number_customer_service_calls,churn
0,OH,107,area_code_415,no,yes,26,161.60,123,195.50,103,254.40,103,13.70,3,1,no
1,NJ,137,area_code_415,no,no,0,243.40,114,121.20,110,162.60,104,12.20,5,0,no
2,OH,84,area_code_408,yes,no,0,299.40,71,61.90,88,196.90,89,6.60,7,2,no
3,OK,75,area_code_415,yes,no,0,166.70,113,148.30,122,186.90,121,10.10,3,3,no
4,MA,121,area_code_510,no,yes,24,218.20,88,348.50,108,212.60,118,7.50,7,3,no

## Codificação de variáveis categoricas nominais

In this notebook we have five categorical variables. We need to change the categories of international_plan, voice_mail_plan and churn to numbers, we do that by mapping yes to 1 and no to zero. For the variables state and area_code we have many categories, than we use the get_dummies to criate new variables labeled with 0 or 1.

In [4]:
data['international_plan'] = data['international_plan'].map({'yes':1, 'no':0})
data['voice_mail_plan'] = data['voice_mail_plan'].map({'yes':1, 'no':0})
data['churn'] = data['churn'].map({'yes':1, 'no':0})

In [5]:
data_dummies = pd.get_dummies(data[['state','area_code']], drop_first=True, dtype=int)
data_dummies.head()

,state_AL,state_AR,state_AZ,state_CA,state_CO,state_CT,state_DC,state_DE,state_FL,state_GA,state_HI,state_IA,state_ID,state_IL,state_IN,state_KS,state_KY,state_LA,state_MA,state_MD,state_ME,state_MI,state_MN,state_MO,state_MS,state_MT,state_NC,state_ND,state_NE,state_NH,state_NJ,state_NM,state_NV,state_NY,state_OH,state_OK,state_OR,state_PA,state_RI,state_SC,state_SD,state_TN,state_TX,state_UT,state_VA,state_VT,state_WA,state_WI,state_WV,state_WY,area_code_area_code_415,area_code_area_code_510
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1

### Criate the final dataset

Here we concatenate our data (without state and area_code) with data_dummies in order to produce a final dataframe.

In [6]:
final_data=pd.concat([data.drop(['state','area_code'], axis=1),data_dummies], axis=1)
final_data.head()

,account_length,international_plan,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_eve_minutes,total_eve_calls,total_night_minutes,total_night_calls,total_intl_minutes,total_intl_calls,number_customer_service_calls,churn,state_AL,state_AR,state_AZ,state_CA,state_CO,state_CT,state_DC,state_DE,state_FL,state_GA,state_HI,state_IA,state_ID,state_IL,state_IN,state_KS,state_KY,state_LA,state_MA,state_MD,state_ME,state_MI,state_MN,state_MO,state_MS,state_MT,state_NC,state_ND,state_NE,state_NH,state_NJ,state_NM,state_NV,state_NY,state_OH,state_OK,state_OR,state_PA,state_RI,state_SC,state_SD,state_TN,state_TX,state_UT,state_VA,state_VT,state_WA,state_WI,state_WV,state_WY,area_code_area_code_415,area_code_area_code_510
0,107,0,1,26,161.60,123,195.50,103,254.40,103,13.70,3,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
1,137,0,0,0,243.40,114,121.20,110,162.60,104,12.20,5,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
2,84,1,0,0,299.40,71,61.90,88,196.90,89,6.60,7,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,75,1,0,0,166.70,113,148.30,122,186.90,121,10.10,3,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
4,121,0,1,24,218.20,88,348.50,108,212.60,118,7.50,7,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1

## Definindo X e y

We define who are our dependent variables in dataframe X and our independent variable in the series y.

In [7]:
X = final_data.drop(['churn'], axis=1)
y =final_data.churn

## Separação de bases

We alread had a test dataset that Kaggle offers, althoug we have no way to check if the answers of this dataset because the compeition is alread closed. Then, we criate our on train and test sets from the final_data we had produced.

In [8]:
from sklearn.model_selection import train_test_split

y_train, y_X_train, X_test, test =train_test_split(X, y, test_size = .2, random_state=42)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((3400, 65), (850, 65), (3400,), (850,))

## Feature Scaling

Here we normalize the train dataset to be between 0 and 1. then we fit this normalization in the test set.

In [9]:
from sklearn.preprocessing import MinMaxScaler

scaler=MinMaxScaler()

colunas = X_train.columns

X_train[colunas] = scaler.fit_transform(X_train)
X_test[colunas] = scaler.transform(X_test)

# Exporting the data

Finally its time to export our data to be used in the machine learning models.

In [10]:
X_train.to_csv('X_train.csv', index=False)
X_test.to_csv('X_test.csv', index=False)
y_train.to_csv('y_train.csv',index = False)
y_test.to_csv('y_test.csv',index = False)